<section *ngIf="contributors$ | async as contributors" class="repoContributors">
  <a *ngFor="let contributor of contributors.list">
    <img [src]="contributor.avatar_url" alt="{{ contributor.login }}">
    <div class="contributor">
      <h4>{{ contributor.login }}</h4>
      <ul>
        <li><span>Contributions:</span> {{ contributor.contributions }}</li>
      </ul>
    </div>
  </a>
  <nav class="pagination">
    <ul>
      <li class="link"><a *ngIf="contributors.prev" (click)="loadPage(contributors.prev)">Prev Page</a></li>
      <li>Page {{ contributors.page }} / {{ contributors.pages }}</li>
      <li class="link"><a *ngIf="contributors.next" (click)="loadPage(contributors.next)">Next Page</a></li>
    </ul>
  </nav>
</section>
