  <a routerLink="/contributor/{{ contributor.login }}">
    <img [src]="contributor.avatarUrl" alt="{{ contributor.login }}">
    <div class="contributor">
      <h4>{{ contributor.login }}</h4>
      <ul>
        <li><span>Contributions:</span> {{ contributor.allContributions }}</li>
        <li><span>Repos:</span> {{ contributor.publicRepos }}</li>
        <li><span>Gists:</span> {{ contributor.publicGists }}</li>
        <li><span>Followers:</span> {{ contributor.followers }}</li>
      </ul>
    </div>
  </a>
