<section *ngIf="repositories$ | async as repositories" class="repositories">
  <a *ngFor="let repository of repositories.list" routerLink="/repository/{{ repository.full_name }}">
    <div class="repository">
      <h4>{{ repository.name }}</h4>
      <p *ngIf="repository.description">{{ repository.description }}</p>
    </div>
  </a>
  <nav class="pagination">
    <ul>
      <li class="link"><a *ngIf="repositories.prev" (click)="loadPage(repositories.prev)">Prev Page</a></li>
      <li>Page {{ repositories.page }} / {{ repositories.pages }}</li>
      <li class="link"><a *ngIf="repositories.next" (click)="loadPage(repositories.next)">Next Page</a></li>
    </ul>
  </nav>
</section>
